*{
    margin:0;
    padding:0;
}

nav{
  background-color:white;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
nav ul{
  width: 100%;
  list-style:none;
  display:flex;
  justify-content: flex-end;
  align-items:center;

}
nav li{
  height:50px;

}
nav a{
  height:100%;
  padding:0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover{
  background-color:#f0f0f0;
}
nav li:first-child{
  margin-right:auto;
}
.sidebar{
  position:fixed;
  top:0;
  right:0;
  height:100vh;
  width: 250px;
  z-index:999;
  background-color:rgba(255, 255, 255 ,0.2);
  box-shadow:-10px 0 10px rgba(0,0,0,0.1);
  display:none;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-start;
  backdrop-filter: blur(10px);
}
.sidebar li{
  width:100%;
}
.sidebar a{
  width: 100%;
}
 .header-University-logo{
    height: 50px;
    margin-right:50px;
    
 }
 header{
  position: fixed;
  top:0;
  left:0;
  right:0;
  
 }
  
  body{
    background-image:url(white);
    background-size:cover;
    background-repeat: no-repeat;
    position:center;
    font-family: "Poppins",sans-serif;
    font-weight:300;
    list-style-type: none;
  }
  p{
    text-align: justify;
    margin-left:7px;
    margin-right:7px;
    font-size:18px;
    color:rgb(66, 58, 58);
    font-family: "Poppins",sans-serif;
    text-align:justify ;
  }
  .image-section {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    
   
  }

  .image-container {
    max-width: 100%;
    float: left;
    margin-right: 20px; 
  }
  .image-container1{
    
    float: left;
    margin-right: 20px;

  }
  .image-container img {

    width: 400px;
    height: auto;
      border-radius: 8px}
      .image-container1 img {


        max-width:100%;
          border-radius: 8px}
 
  
    footer {
     margin-top:500px;
      background-color:#475C5A;
     height:140px;
     margin-top: 40px;
      color: white;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type:none;

    }

    .footer-section {
      flex: 1;
      margin-right: 20px;
      list-style-type: none;
    }

    
    .footer-section img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
      
      .footer-section.right-section {
        margin-top:30px;
        text-align: right;
        margin-bottom:25px;
      }
  
      .footer-section.right-section h3 {
        display: inline-block;
      }
  
      .footer-section.right-section a {
        margin-left: 10px;
      }

    .subscribe-section input {
      padding: 5px;
      width: 200px;
    }
    .header1{
      
      font-size:40px;
      font-family: Arial;
      color:#475C5A;
    }
  .footer-link{
    font-weight:10px;
    font-size:25px;
  }
